@plugin "../vendor/daisyui" {
  themes: false;
}

@theme {
  --color-carnation-50: rgb(254 236 239);
  --color-carnation-100: rgb(252 217 223);
  --color-carnation-200: rgb(249 179 191);
  --color-carnation-300: rgb(246 141 159);
  --color-carnation-400: rgb(244 103 127);
  --color-carnation-500: rgb(241 65 94); 
  --color-carnation-600: rgb(232 17 53);
  --color-carnation-700: rgb(180 14 41);
  --color-carnation-800: rgb(128 10 29);
  --color-carnation-900: rgb(76 6 17);
  --color-carnation-950: rgb(50 4 11);
}

@plugin "../vendor/daisyui-theme" {
  name: "monsum";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: var(--color-slate-900);
  --color-base-200: var(--color-sky-900);
  --color-base-300: var(--color-sky-800);
  --color-base-content: var(--color-slate-200);
  --color-primary: var(--color-orange-500);
  --color-primary-content: var(--color-orange-50);
  --color-secondary: var(--color-cyan-400);
  --color-secondary-content: var(--color-cyan-950);
  --color-accent: var(--color-sky-700);
  --color-accent-content: var(--color-sky-50);
  --color-neutral: var(--color-slate-500);
  --color-neutral-content: var(--color-slate-50);
  --color-info: var(--color-sky-500);
  --color-info-content: var(--color-sky-50);
  --color-success: var(--color-emerald-500);
  --color-success-content: var(--color-emerald-50);
  --color-warning: var(--color-yellow-500)
  --color-warning-content: var(--color-yellow-950);
  --color-error: var(--color-carnation-600);
  --color-error-content: var(--color-carnation-50);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@utility input-monsum {
  @apply mt-2 block w-full rounded-sm bg-slate-800 text-sky-100 focus:outline-0 focus:ring-0 sm:text-sm sm:leading-6 border border-slate-500 focus:border-sky-600 focus:bg-sky-950;
}

@utility input-monsum-error {
  @apply border-orange-400 focus:border-orange-300;
}

@utility button-monsum {
  @apply hover:brightness-125 active:text-white/80 phx-submit-loading:opacity-75;
}